body {
    font-size: 120%;
    padding-top: 5%;
}

.cuerpo {
    border-radius: 0.5em;
    width: 50%;
    margin: 0 auto;
    padding: 1.5em;
}

.cuerpo, .cuerpo:before, .cuerpo:after {
    background-color:  #FAFAFA;;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.cabecera {
    text-align: center;
    margin-bottom: 2em;
    font-size: 150%;
    text-decoration: underline;
}

.cabecera-sec {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 3em;
    font-size: 125%;
}

.tit-cabecera-sec {
    margin-right: -5em;
}

.contenedor {
    margin: 1em 2em 0.5em 2em;
}

.titulo-P a {
    text-decoration: none;
    color: black;
    font-size: 110%;
}

.titulo-P {
    margin-bottom: 0.5em;
    margin-top: 2em;
}

.panel-accion {
    float: right;
}

.pie-P, .pie-R {
    text-align: left;
    display: inline;
    font-size: 95%;
}

.fecha-P, .fecha-R {
    float: right;
}

.bloque-P .linea-fondo, .bloque-R .linea-fondo {
    border-bottom: 1px solid black;
    width: 95%;
    padding-top: 0.5em;
    margin: 0 auto;
}

.form-Pregunta, .form-Respuesta {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    min-height: 15em;
    margin-top: -7.5em;
    left: 50%;
    width: 40em;
    margin-left: -20em;
    border: 1px solid black;
    text-align: center;
    padding: 1em;
    padding-bottom: 2em;
    border-radius: 5px;
}

.form-Pregunta textarea, .form-Pregunta input, .form-Respuesta textarea, .form-Respuesta input {
    width: 98%;
    padding: 0.4em;
}

.form-Pregunta textarea, .form-Respuesta textarea {
    height: 4em;
}

.form-Pregunta button, .form-Respuesta button {
    margin-top: 0.8em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    float: right;
}

.form-Pregunta label, .form-Respuesta label {
    float: left;
}

#form-Pregunta, #form-Respuesta {
    display: none;
}

.texto-P, .texto-R {
    background: white;
    padding: 1em;
    margin-bottom: 1em;
    text-align: justify;
}

.bloque-R {
    width: 85%;
    margin: 0 auto;
    margin-top: 3em;
}

#mensajeError {
    color: red;
    font-size: 120%;
    position: absolute;
    top: 2em;
    left: 2em;
    background: #efacac;
    border: 1px solid red;
    min-width: 5em;
    min-height: 1.5em;
    padding: 0.5em;
    display: none;
}

.botones-form{
    margin-bottom: 1em;
}

.autor-lab{
    border: 1px solid #7f7f7f;
    text-align: left;
    padding: 0.25em;
}

.login{
    text-align: right;
    margin-right: 25%;
    margin-bottom: 1em;
}