{% extends "base.html" %}
    {% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-1">
				<div id="preguntas">
					<!--Bucle-->
                    {% for pregunta in listaPreguntas %}
					<div class="row">
						<div class="post-preview">
							<a href="/verPregunta?id={{pregunta.idPregunta}}">
								<h3 class="post-title">
									{{pregunta.titulo}}
								</h3>
							</a>
							<p class="post-meta">Preguntado por {{pregunta.autor}} en fecha de {{pregunta.fecha}}</p>
						</div>
						<hr>
					</div>
					{% endfor %}
                    <!-- Hasta aqui-->
				</div>
				<!--Formulario para crear pregunta-->
				<div id="form-Pregunta" class="form-Pregunta">
					<form id="formP" action="/crearPregunta" method="post">
						<h3>Formulario para crear pregunta</h3>
						<div class="sep-form">
							<label>Introduce t&iacute;tulo: </label>
							<br>
							<input type="text" name="tituloP" id="tituloP">
						</div>
						<div class="sep-form">
							<label>Introduce texto: </label>
							<br>
							<textarea type="text" name="textoP" id="textoP"></textarea>
						</div>
						<div class="sep-form">
							<label>Autor: </label>
							<br>
							{% if user %}
							<input type="hidden" name="autorP" id="autorP" value="{{user.nickname()}}">
							<div class="autor-lab">
								{{user.nickname()}}
							</div>
							{% endif %}
						</div>
						<div class="botones-form">
							<button class="btn btn-default" type="reset" onclick="ocultar_preguntar()"> Cancelar</button>
							<button class="btn btn-default" type="button" onclick="enviar_pregunta()"> Enviar</button>
						</div>
					</form>
				</div>
            </div>
			<div class="col-md-2">
				<div class="row">
					<div class="fixed-btn">
						{% if user %}
							<div class="login botones">
							<a href="/login"> 
								Hola, {{user.nickname()}}
								<div>
									Desconectate aqu&iacute;!
								</div>
							</a>
						</div>
							<button class="btn btn-default botones" onclick="mostrar_preguntar()"> Realizar pregunta</button>
						{% else %}
							<div class="login botones">
							<a href="/login">
								Logueate y pregunta
								<div>
									Presionando aqu&iacute;!
								</div>
							</a>
						</div>
							<button class="btn btn-default botones" onclick="necesita_login()"> Realizar pregunta</button>
						{% endif %}
					</div>
				</div>
			</div>
        </div>
    </div>
	{% endblock %}