{% extends "base.html" %}
{% block content %}

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <div id="respuestas">
                {% for preg in pregunta %}
                <div class="row pregunta">
                    <div class="post-preview">
                        <h2 class="post-title">
                            {{preg.titulo}}
                        </h2>
                        <div class="text">
                            {{preg.texto}}
                        </div>
                        <p class="post-meta">Preguntado por {{preg.autor}} en fecha de {{preg.fecha}}</p>
                    </div>
                    <hr>
                </div>
                {% endfor %}
                {% if respuestas.count()>0 %}
                {% for respuesta in respuestas %}
                <div class="row">
                    <div class="post-preview">
                        <div class="text">
                            {{respuesta.texto}}
                        </div>
                        <p class="post-meta">Respondido por {{respuesta.autor}} en fecha de {{respuesta.fecha}}</p>
                    </div>
                    <hr>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <!--Formulario para crear respuesta-->
            <div id="form-Respuesta" class="form-Respuesta">
                <form id="formR" action="/crearRespuesta" method="post" onsubmit="return enviar_respuesta()">
                    <h4>Formulario para crear respuesta</h4>
                    <div class="sep-form">
                        <label>Introduce texto: </label>
                        <br>
                        <textarea type="text" name="textoR" id="textoR"></textarea>
                    </div>
                    <div class="sep-form">
                        <label>Autor: </label>
                        <br>
                        {% if user %}
                        <div class="autor-lab">
                            {{user.nickname()}}
                        </div>
                        <input type="hidden" name="autorR" id="autorR" value="{{user.nickname()}}">
                        {% endif %}
                    </div>
                    <input type="hidden" name="idPreg" value="{{idP}}">
                    <div class="botones-form">
                        <button class="btn btn-default" type="reset" onclick="ocultar_responder()"> Cancelar
                        </button>
                        <button class="btn btn-default" type="submit"> Enviar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="fixed-btn">
                    {% if user %}
                    <div class="login botones">
                        <a href="/login">
                            Hola, {{user.nickname()}}
                            <div>
                                Desconectate aqu&iacute;!
                            </div>
                        </a>
                    </div>
                    <button class="btn btn-default botones" onclick="mostrar_responder()"> Responder pregunta</button>
                    {% else %}
                    <div class="login botones">
                        <a href="/login">
                            Logueate y responde
                            <div>
                                Presionando aqu&iacute;!
                            </div>
                        </a>
                    </div>
                    <button class="btn btn-default botones" onclick="necesita_login()"> Responder pregunta</button>
                    {% endif %}
                    <a class="btn btn-default botones a1" href="/"> Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}